<!-- footer part start-->
<footer class="footer-area">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-sm-6 col-md-4 col-xl-3">
        <!--<div class="single-footer-widget footer_1">
          <a href="index.html"> <img src="img/footer_logo.png" alt=""> </a>
          <p>So seed seed green that winged cattle in Gahesd thing made fly you're no divided deep move lan Gathering thing us land years living on floor me the cavaty do buty fresh</p>
        </div>-->
      </div>
      <div class="col-xl-3 col-sm-6 col-md-4">
        <div class="single-footer-widget footer_2">
          <h4>Les services</h4>
          <div class="contact_info">
            <ul>
              <li>
                <a href="#">Intervention Eléctrique</a>
              </li>
              <li>
                <a href="#">Intervention Mécanique</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <!--<div class="col-xl-3 col-sm-6 col-md-4">
        <div class="single-footer-widget footer_2">
          <h4>Our Gallery</h4>
          <div class="footer_img">
            <a href="#"><img src="img/footer_img/footer_1.png" alt=""></a>
            <a href="#"><img src="img/footer_img/footer_2.png" alt=""></a>
            <a href="#"><img src="img/footer_img/footer_3.png" alt=""></a>
            <a href="#"><img src="img/footer_img/footer_4.png" alt=""></a>
            <a href="#"><img src="img/footer_img/footer_5.png" alt=""></a>
            <a href="#"><img src="img/footer_img/footer_6.png" alt=""></a>
            <a href="#"><img src="img/footer_img/footer_7.png" alt=""></a>
            <a href="#"><img src="img/footer_img/footer_8.png" alt=""></a>
          </div>
        </div>
      </div>-->
      <div class="col-xl-3 col-sm-6 col-md-4">
        <div class="single-footer-widget footer_2">
          <h4>Infos Contact</h4>
          <div class="contact_info">
            <p>13 impasse Georges Brassens 90300 Valdoie</p>
            <p><span> Adresse :</span> Hath of it fly signs bear be one blessed after </p>
            <p><span> Tél :</span> 06 02 69 12 55</p>
            <p><span> Email : </span>uillaimeboiteux@smi-meca.fr </p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="copyright_part_text text-center">
          <div class="row">
            <div class="col-lg-12">
              <p class="footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ti-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
