<app-base-layout></app-base-layout>
<!-- breadcrumb start-->

<!-- breadcrumb start-->
<section class="contact-section section_padding">
  <div class="form">
<div class="row">
  <div class="column">
    <div class="container">

      <div class="row">
        <div class="col-12">
          <h2 class="contact-title">Contact</h2>
        </div>
        <div class="col-lg-8">
          <form class="form-contact contact_form">
            <div class="row">
              <div class="col-12">
                <div class="form-group">

                  <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre message'" placeholder = 'Votre message'></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre nom '" placeholder = 'Votre nom'>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre adresse email'" placeholder = 'Votre adresse email'>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Votre objet'" placeholder = 'Votre objet'>
                </div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit" class="button button-contactForm btn_1">Envoyer</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="column">
    <div >
      <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-home"></i></span>
        <div class="media-body">
          <h3>13 impasse Georges Brassens 90300 Valdoie</h3>
        </div>
      </div>
      <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-tablet"></i></span>
        <div class="media-body">
          <h3>+33 (0)6 02 69 12 55</h3>
        </div>
      </div>
      <div class="media contact-info">
        <span class="contact-info__icon"><i class="ti-email"></i></span>
        <div class="media-body">
          <h3>guillaumeboiteux@smi-meca.fr</h3>
        </div>
      </div>
    </div>
    <div style="width: 100%">
      <iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;q=13%20impasse%20Georges%20Brassens%2090300%20Valdoie+(SMI)&amp;ie=UTF8&amp;t=&amp;z=14&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.maps.ie/coordinates.html">find my coordinates</a></iframe></div><br />
  </div>
</div>
  </div>
</section>
<app-footer></app-footer>
