<app-base-layout></app-base-layout>
<!-- banner part start-->


<section class="banner_part">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-xl-6">
        <div class="banner_text">
          <div class="banner_text_iner">
            <h1>Engagé pour une qualité et des <span>résultats</span> supérieurs</h1>
            <p>SMI; Basé dans le région EST. Notre société
              Spécilalisé dans les commandes mécanique et dans les machines d'usinage depuis plus de 25 ans est à votre
              disposition pour tout types de préstation; dépannage en tout genre; préventive ou transport de machines
              outils.
              Domaine de compétence en mécanique; éléctrique, hydrolique et analyse vibratoire</p>

          </div>

        </div>
      </div>
    </div>

  </div>
  <div class="our_service padding_top">
    <div class="container">
      <div class="row">
        <div class="col-xl-5">
          <div class="section_tittle">
            <h2>Nos services</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="single_feature">
            <div class="single_service">
              <span class="flaticon-ui"></span>
              <h4>Maintenance Curative</h4>
              <p>(Dépanage toute marques ...)</p>
              <a href="#" class="btn_3">read more</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="single_feature">
            <div class="single_service">
              <span class="flaticon-ui"></span>
              <h4>Maintenance Préventive et Corrective</h4>
              <p>(Conseil, suivi et changement de pièces, entretien, réglages, optimisation)</p>
              <a href="#" class="btn_3">read more</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="single_feature">
            <div class="single_service">
              <span class="flaticon-ui"></span>
              <h4>Etude vibratoire des machines</h4>
              <p>(Etude vibratoire des machines...)</p>
              <a href="#" class="btn_3">read more</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="single_feature">
            <div class="single_service">
              <span class="flaticon-ui"></span>
              <h4>Réalisation des plans éléctriques</h4>
              <p>Etude, mise à jour, modification</p>
              <a href="#" class="btn_3">read more</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>


<section class="our_service padding_top">
  <div class="container">
    <div class="row">
      <div class="col-xl-5">
        <div class="section_tittle">
          <h2>Nos services</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="single_feature">
          <div class="single_service">
            <span class="flaticon-ui"></span>
            <h4>Maintenance Curative</h4>
            <p>(Dépanage toute marques ...)</p>
            <a href="#" class="btn_3">read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="single_feature">
          <div class="single_service">
            <span class="flaticon-ui"></span>
            <h4>Maintenance Préventive et Corrective</h4>
            <p>(Conseil, suivi et changement de pièces, entretien, réglages, optimisation)</p>
            <a href="#" class="btn_3">read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="single_feature">
          <div class="single_service">
            <span class="flaticon-ui"></span>
            <h4>Etude vibratoire des machines</h4>
            <p>(Etude vibratoire des machines...)</p>
            <a href="#" class="btn_3">read more</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="single_feature">
          <div class="single_service">
            engagé  <span class="flaticon-ui"></span>
            <h4>Réalisation des plans éléctriques</h4>
            <p>Etude, mise à jour, modification</p>
            <a href="#" class="btn_3">read more</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- our_service part end-->

<!-- about part start-->

<app-footer></app-footer>

